#calculator-body {
    margin: auto;
    margin-top: 100px;
    width: 450px;
    padding: 20px;
    background-color: rgb(224, 239, 241);
    border-radius: 20px;
    -webkit-box-shadow: 14px 16px 19px 3px rgba(102, 140, 161, 1);
    -moz-box-shadow: 14px 16px 19px 3px rgba(102, 140, 161, 1);
    box-shadow: 14px 16px 19px 3px rgba(102, 140, 161, 1);
}

#calculator-buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: 80px 80px 80px 80px;
    column-gap: 20px;
    row-gap: 20px;
}

.calculator-button {
    background-color: rgb(241, 241, 240);
    width: 20px;
    height: 20px;
    border: 1px solid rgb(187, 176, 176);
    text-align: center;
    padding: 30px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    border-radius: 10px;
}

.calculator-button:hover,
.active,
.active:active {
    border: 1px solid rgb(126, 121, 121);
    color: rgb(117, 110, 110);
}

.calculator-button:active {
    border: 1px solid black;
    color: black;
}

.calculator-button>div {
    font-size: 20px;
    text-align: center;
}

#calculator-screen {
    background-color: rgb(219, 213, 213);
    width: 400px;
    height: 80px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#calculator-text {
    font-size: 50px;
    text-align: right;
    margin-right: 20px;
    margin-left: auto;
    padding: 10px;
}

#action-backspace {
    background-image: url("https://cdn1.iconfinder.com/data/icons/social-object-set-4/74/2-512.png");
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.two-col {
    grid-column: span 2;
    width: 120px;
}