* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#gameboard {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 1px;
    margin: auto;
    width: 300px;
    margin: auto;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(151, 144, 144);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.square:hover {
    background-color: bisque;
    border: 1px solid red;
}

#new-game,
#reset-game {
    background-color: rgb(247, 247, 241);
    border-radius: 15px;
    border: 1px solid rgb(207, 207, 197);
    padding: 10px;
    width: 180px;
    vertical-align: middle;
    margin: 20px 0 20px 0;
}

#reset-game {
    display: none;
}

#button-container {
    margin: auto;
    width: 180px;
}

.current-player-header {
    text-decoration: underline;
}

#player-box>input {
    border: 1px solid rgb(207, 199, 199);
    margin: 2px;
}

#game-over {
    margin: 20px 0 20px 0;
    width: 100%;
    text-align: center;
    display: block;
    color: rgb(185, 207, 202);
    font-size: 40px;
    height: 30px;
}

#player1-header,
#player2-header {
    display: none;
    color: rgb(185, 207, 202);
    font-size: 40px;
}

#player-container {
    text-align: center;
}

#game-controller-container {
    -webkit-box-shadow: inset 10px 10px 72px -21px rgba(213, 224, 170, 1);
    -moz-box-shadow: inset 10px 10px 72px -21px rgba(213, 224, 170, 1);
    box-shadow: inset 10px 10px 72px -21px rgba(213, 224, 170, 1);
    height: 100px;
    border-radius: 15px;
    width: 500px;
    padding: 25px;
    margin: auto auto 50px auto;
}