#grid-container {
    display: grid;
    margin: auto;
}

.grid-square {
    border: 1px solid black;
}

#reset-button {
    width: 120px;
    margin: auto;
    background-color: rgb(255, 57, 7);
    border: none;
    padding: 5px;
    color: white;
    font-weight: 600;
}

#buttons {
    width: 120px;
    margin: 100px auto 50px auto;
}