.body {
    font-family: open-sans;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

#search-block {
    margin: 0 auto;
    margin-top: 6.2%;
    width: max-content;
}

#search-input {
    width: 450px;
    height: 35px;
    clear: both;
    border-radius: 20px;
    outline: none;
    border: 1.2px solid rgb(233, 231, 231);
    margin: 20px;
    padding: 2px 30px 2px 30px;
    font-size: 14px;
    background: url(https://cdn.dribbble.com/users/33239/screenshots/4167340/nbdc-magnifyingglass-icon-dribbb.jpg) no-repeat scroll 7px 7px;
    background-size: 25px;
    padding-left: 30px;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 245px;
}

.search-buttons {
    display: block;
    margin: 0 auto;
    width: max-content;
}

.search-buttons button {
    padding: 8px 15px 8px 15px;
    margin: 20px 3px 20px 3px;
    background-color: rgba(233, 231, 231, 0.438);
    color: rgb(119, 113, 113);
    border: none;
    border-radius: 5px;
}

.notice {
    text-align: center;
}

.notice p,
.notice a {
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    margin: 2px;
}

#header1 {
    width: fit-content;
    margin-left: auto;
    margin-top: 14px;
    margin-right: 14px;
}

#header1 li {
    margin: 5px;
}

#header1 a {
    font-size: 13px;
    text-decoration: none;
    margin: 2px;
    color: black;
}

#header1 button {
    background-color: rgb(81, 118, 238);
    color: white;
    padding: 7px 12px 7px 12px;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    font-size: 11px;
}

.grid {
    display: grid;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

#grid-li {
    margin-top: 11px !important;
    vertical-align: top;
}

.box {
    background-color: rgb(85, 83, 83);
    height: 4px;
    width: 4x;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(178, 184, 184, 0.192);
    height: fit-content;
    margin: 0px;
}

.footer {
    padding: 0px;
    border: solid rgba(207, 203, 203, 0.534);
    color: rgb(71, 58, 58);
}

footer ul {
    height: 33px;
    margin: 0px;
}

footer li {
    margin: 10px 5px 10px 5px;
    font-size: 13px;
}

footer li:first-child {
    margin-left: 25px;
}

footer li:last-child {
    margin-right: 25px;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    margin: 2px;
    color: rgb(71, 58, 58);
}

#footer1 {
    border-width: 0.1px;
}

#footer2 {
    border-width: 0px 0.1px 0.1px 0.1px;
    padding: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}